<span class="sidebar-container">
<div>
    <div class="upper-part">
        <h1 class="font-weight-bold ms-3 mt-5">
          <span style="color: green">TASK</span>
          <span>IT</span>
        </h1>
        <button class="btn btn-success sidebar-button">Task List</button>
        <button class="btn btn-success sidebar-button">Kanban</button>
    <button class="btn btn-success sidebar-button">I'm Bored</button>
      </div>
        <div class="grid">
          <div class="g-col-6 g-col-md-4">
        <img src="./assets/img/freckles250x250.jpg" alt="Round Profile Picture" class="profile-picture">
        </div>
        <div class="g-col-6 g-col-md-4">
        <p class="name">Not Me</p>
        <p class="email">notme@fakeemail.com</p>
        </div>
        <div class="g-col-6 g-col-md-4">
        <img src="./assets/img/loginicon.svg" alt="login icon" class="login-icon">
        </div>
        </div>
      </div>
</span>
